<h1>Track What's in Your Fridge</h1>

<div class='row'>
  <% @categories.each do |category| %>
    <div class='container'>
      <a href="categories/<%= category.id %>">
        <h3><%= category.name %></h3>
      </a>
    </div>
  <% end %>
</div>
